.footer{

    width: 100%;
    height: 166px;
    background-color: #5855E7;
    display:grid;
    justify-items: center;
    align-items: center;
  


}
footer{

width:1206px;
height:111px;

display:grid;
grid-template-columns: 156px 267px 138px;
grid-template-rows: 111px ;
justify-content: space-between;
}


.footer1{

    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: Gilroy;
font-size: 20px;
font-weight: 500;
line-height: 24.26px;
text-align: left;
color:#FFFFFF;

   
}
.footer2{
display:flex;
flex-direction: column;
gap:9px;
   
}
.footer2 p{

    font-family: Gilroy;
    font-size: 20px;
    line-height: 23.44px;
    text-align: left;
color: #ffffff;
    
}


.footer3{


  
    display:grid;
    
    align-content: center;
    gap:26px
   
}

.footer3 p{

    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.5px;
    text-align: left;
 color:#FFFFFF

}



 i{

    font-size: 32px;
    color:#ffffff
}